<html lang='en'>
  <body>
    <h1>Astro</h1>
    <ul>
      <li>
        <a href='/postgres'>Postgres</a>
      </li>
      <li>
        <a href='/xata-sdk'>Xata SDK</a>
      </li>
      <li>
        <a href='/xata-sql'>Xata SQL</a>
      </li>
      <li>
        <a href='/edge-function'>Edge Function</a>
      </li>
    </ul>
  </body>
</html>
