<html lang='en'>
  <body>
    <a href='/'>Back</a>
    <h1>Serverless Function</h1>
    <pre id='pre'>Loading...</pre>
  </body>
  <script>
    const response = await fetch('/sf-get-all-users', {
      method: 'GET',
    });

    const data = await response.json();
    const pre = document.getElementById('pre');
    pre!.innerHTML = `${JSON.stringify(data, null, 2)}`;
  </script>
</html>
